#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.5);
}

.photograph-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: auto;
  padding: 0 50px;
  width: 100%;
  max-width: 1300px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    height: fit-content;
    padding: 0 20px;
    gap: 50px;

    .photographer_wrapper {
      text-align: center;
    }

    .photographer_image {
      margin-bottom: 25px;
    }
  }
}

.photographer_image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  top: 5%;
  position: relative;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.tri_label {
  font-weight: 600;
}

select {
  color: white;
  font-weight: 700;
  border-radius: 5px;
  background: var(--primary-color);
  padding: 10px;
}

select option {
  background-color: var(--primary-color);
  padding: 15px;
}

.photographer_name {
  font-size: 64px;
  font-weight: 400;
  color: var(--secondary-color);
}

.photographer_location {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
}

.photographer_tagline {
  font-size: 24px;
  font-weight: 400;
  color: var(--dark-color);
}

.media_section {
  width: 100%;
  place-items: center;
  max-width: 1400px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: auto;
  margin-top: 25px;

  @media (max-width: 1062px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 720px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.media_wrapper {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  width: 100%;
}

.media_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.media_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_likes {
  display: flex;
  align-items: center;
  text-align: end;
  gap: 5px;
  justify-content: flex-end;
  width: 25%;
}

.media_title {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media_title,
.media_likes {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
}

.photograph_stats {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 25%;
  height: 5%;
  background-color: #db8876;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  flex-direction: row-reverse;
}

.total_likes,
.photographerPrice {
  font-size: 24px;
  font-weight: 500;
}

.totalLikes {
  display: flex;
  align-items: center;
  text-align: end;
  gap: 5px;
}

.photographer_image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.filterWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  justify-content: start;
  margin: auto;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

.media_likes_wrapper,
.total_likes_wrapper {
  align-items: center;
  display: flex;
  justify-content: end;
  gap: 5px;
}

.likes {
  cursor: pointer;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}

#message {
  height: 100px;
  width: 100%;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#close-lightbox {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
}


#right-arrow,
#left-arrow {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--primary-color);
  border: none;
  background-color: transparent;
}

#right-arrow {
  right: 50px;
}

#left-arrow {
  left: 50px;
}


#lightbox-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#lightbox-img,
#lightbox-video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  max-width: 1000px;
  max-height: 800px;
}

#lightbox-media-name {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}